.headerBackground {
    background-color: #0f0f0f;
}

.textHeader {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 2em;
    width: 50%;
    height: 10%;
    padding: 1%;
    color: white;
    transition: color 0.4s ease, text-shadow 0.3s ease;
    text-shadow: 0 0 10px white, 0 0 10px white, 0 0 10px white;
}


    .textHeader:hover {
        color: #17ba00;
        text-shadow: 0 0 10px #17ba00, 0 0 20px #17ba00, 0 0 30px #17ba00;
    }
