<div class="textVisite">
    <h3>Добрый день!</h3>
    <p>Меня зовут Даниил, я разработчик на C#.</p>
    <h3>Мои ключевые компетенции:</h3>
    <ul>
        <li>Создание REST API приложений</li>
        <li>Разработка настольных приложений с удобным интерфейсом</li>
        <li>Реализация 3D симуляций с использованием Unity и Godot</li>
    </ul>
</div>
