.charterBack {
    background-color: #1a1a1a;
    margin-left: 30%;
    margin-right: 30%;
    padding: 10%;
    margin-bottom: 2%;
    position: absolute;
    position: relative;
    overflow: hidden;
}

.charter {
    width: 50px;
    height: auto;
    transform: translate(0px, 0px);
}

.Pad{
    margin-bottom: 2%;
}
