@page "/"
<PageTitle>Home</PageTitle>

<body>

    <LogoCentral></LogoCentral>
    <h1>Hello, world!</h1>
    <ContetntVisite></ContetntVisite>
    <GameRunner></GameRunner>
    <MusicLoop></MusicLoop>
</body>


@code {

}