<audio  id="bgMusic" autoplay loop>
    <source src="/Music/Mystic Realms.mp3" type="audio/mpeg">
</audio>

<div class="paddingMusic">
    <button  @onclick="PlayMusic">@txtPlay</button>
</div>


@code {
    [Inject] private IJSRuntime JS { get; set; }
    private string txtPlay = "▶️ Включить музыку";
    private bool stateMusic = false;

    private async Task PlayMusic()
    {
        if (stateMusic==false)
        {
            txtPlay = "▶️ Выключить музыку";
            stateMusic = true;
            await JS.InvokeVoidAsync("eval", "document.getElementById('bgMusic').play()");
        }
        else
        {
            txtPlay = "▶️ Включить музыку";
            stateMusic = false;
            await JS.InvokeVoidAsync("eval", "document.getElementById('bgMusic').pause()");
        }
      
    }
}
