<audio  id="bgMusic" autoplay loop>
    <source src="/Music/mystic-music.mp3" type="audio/mpeg">
</audio>

<div class="paddingMusic">
    <button  @onclick="PlayMusic">@txtPlay</button>
</div>


@code {
    [Inject] private IJSRuntime JS { get; set; }
    private string txtPlay = "▶️ Включить музыку";
    private bool stateMusic = false;

    private async Task PlayMusic()
    {
        try
        {
            if (!stateMusic)
            {
                txtPlay = "▶️ Выключить музыку";
                stateMusic = true;
                await JS.InvokeVoidAsync("eval", "document.getElementById('bgMusic').play()");
            }
            else
            {
                txtPlay = "▶️ Включить музыку";
                stateMusic = false;
                await JS.InvokeVoidAsync("eval", "document.getElementById('bgMusic').pause()");
            }
        }
        catch (JSException ex)
        {
            // Можно вывести лог ошибки в консоль или обработать иначе,
            // чтобы приложение не падало.
            Console.WriteLine(ex.Message);
        }
      
    }
}
